* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 1rem;
}

.jumbotron {
    padding-top: 7rem;
}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 4px 8px 8px 0 rgba(0,0,0,0.2);
    margin-top: -4rem;
}

.user-profile {
    background-color: aqua;
    margin-bottom: -6rem;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.user-info {
    margin-top: 5rem;
}

.user-info h4 {
    margin-bottom: 3rem;
}

.card {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

@media screen and (min-width: 690px) {
    .user-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

}
